<h1>Welcome</h1>
<p>This is the Angular Front to Back sandbox application</p>
<button class="btn btn-secondary" routerLink="/users">Users Section</button>
<button class="btn btn-dark" routerLink="/posts">Posts Section</button>

<div class="container">
    <div class="block">
        <h1 class="title">Hello World!</h1>
        <h2 class="subtitle">Hello World!</h2>
        <h1 class="title is-1">Hello World!</h1>
        <h1 class="title is-2">Hello World!</h1>
        <h1 class="title is-3">Hello World!</h1>
        <h1 class="title is-4">Hello World!</h1>
        <h1 class="title is-5">Hello World!</h1>
        <h1 class="title is-6">Hello World!</h1>
    </div>
</div>



